body {
    background-color: #6fa8dc   ;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.login_form {
    color: black;
    font-size: 1cm;
    margin: 20px 0; 
    font-family: "Comic Sans MS", cursive, sans-serif;
}

input {
    background-color: rgb(143, 143, 197);
    border-radius: 15%;
    font-size: 1cm;
    margin: 20px 0;
    border: ridge 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

::placeholder {
    color: black;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
    color: blueviolet;
    background-color: chocolate;
    border-radius: 25%;
    font-size: 1cm;
    margin: 20px 0;
    border: ridge 20px;
    padding: 15px 30px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

p {
    color: yellow;
    font-size: 2cm;
    margin: 20px 0;
}

/* ===== BOX STYLES FOR CONTAINERS ===== */

.login-container {
    border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    width: 500px;
    background-color: steelblue;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logout-container {
    border: ridge 10px chocolate;
    border-radius: 25px;
    padding: 25px;
    margin: 25px auto;
    width: 300px;
    background-color: steelblue;
    text-align: center;
}

.message-box {
    border: ridge 20px yellow;
    border-radius: 35px;
    padding: 25px;
    margin: 25px auto;
    width: 600px;
    background-color: rgb(69, 131, 146);
    text-align: center;
}

/* ===== FORM ELEMENT STYLING INSIDE BOXES ===== */

.login-container form div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container input {
    width: 90%;
    margin: 15px auto;
}

.login-container button {
    width: 200px;
    margin: 15px auto;
}

.logout-container button {
    width: 200px;
    margin: 10px auto;
    font-size: 1cm;
}

/* ===== RESPONSIVE ADJUSTMENTS ===== */

@media (max-width: 650px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
    
    .message-box {
        width: 90%;
        padding: 20px;
    }
    
    p {
        font-size: 2cm;
    }
    
    .logout-container {
        width: 80%;
    }
}