body {
    background-color: #6fa8dc;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Cherry Bomb One';font-size: 22px;
}

.age-title {
    color: black;
    font-size: 1cm;
    margin: 20px 0; 
font-family: 'Cherry Bomb One';font-size: 30px;}

input {
    background-color: rgb(143, 143, 197);
    border-radius: 15px;
    font-size: 1cm;
    margin: 20px 0;
    corner-shape: scoop;

    width: 90%;

}

::placeholder {
    color: black;
    font-size: 30px;
    font-family: 'Cherry Bomb One';font-size: 30px;
    text-align: center;
}

button {
    color: blueviolet;
    background-color: chocolate;
    border-radius: 25%;
    font-size: 1cm;
    margin: 20px 0;
    border: ;
    padding: 15px 30px;
    cursor: pointer;
    ;
    width: 200px;
    
}

p {
    color: yellow;
    font-size: 1cm;
    margin: 15px 0;
}

.age-box {
    border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    margin: 3px auto;
    width: 500px;
    background-color: steelblue;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    corner-shape: bevel;

}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
 button {
    text-align: center; /* ensures the text inside the button is centered */
    border-radius: 100px;
    corner-shape: squircle;
    font-family: 'Cherry Bomb One';font-size: 35px;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 650px) {
    .age-box {
        width: 90%;
        padding: 20px;
    }
    
    p {
        font-size: 2cm;
    }
}
