body {
    background-color: #6fa8dc;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: 'Cherry Bomb One';
    font-size: 22px;
}

/* ===== TITLE ===== */
.weather-title {
    color: black;
    font-size: 30px;
    margin: 20px 0;
    
}

/* ===== INPUTS ===== */
input {
    background-color: rgb(143, 143, 197);
    border-radius: 15px;
    font-size: 1cm;
    margin: 20px 0;
    width: 90%;
    corner-shape: scoop;
    font-family: 'Cherry Bomb One';
}

/* ===== PLACEHOLDER ===== */
::placeholder {
    color: black;
    font-size: 30px;
    text-align: center;
}

/* ===== BUTTON ===== */
button {
    color: blueviolet;
    background-color: chocolate;
    font-size: 35px;
    margin: 20px 0;
    padding: 15px 30px;
    cursor: pointer;
    width: 200px;
    border-radius: 100px;
    font-family: 'Cherry Bomb One';
    corner-shape: squircle;
}

/* ===== OUTPUT TEXT ===== */
p {
    color: yellow;
    font-size: 1cm;
    margin: 15px 0;
}

/* ===== WEATHER BOX ===== */
.weather-box {
    border: ridge 10px blueviolet;
    border-radius: 30px;
    padding: 30px;
    margin: 3px auto;
    width: 500px;
    background-color: steelblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    corner-shape: bevel;
}

/* ===== FORM ROW ===== */
.weather-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 650px) {
    .weather-box {
        width: 90%;
        padding: 20px;
    }

    p {
        font-size: 2cm;
    }
}
